
#masterTitle {

    margin-left: auto;
	max-width: 1000px;
    margin-right: auto;
}

.pageContent {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
    max-width: 1000px;
}

